{% extends 'layout.html' %}
{% load static %}

{% block body %}
    <div class="container">
        <div class="main__nav-container">
            <div style="font-size: 0.65em;">
                {% include 'includes/isteam_logo.html' with custom_name='groupware' %}
            </div>
            <div class="main__nav-container__sidemenu mobile-hide">
                <div class="">{{ member_info.last_name }}{{ member_info.first_name }}</div>
                <a class="btn btn__no-color" href="/user/signout">로그아웃</a>
            </div>
        </div>
        <div class="groupware__user desktop-hide">
            <div class="groupware__user-name">{{ member_info.last_name }}{{ member_info.first_name }}</div>
            <a class="btn btn__no-color desktop-hide" href="/user/signout">로그아웃</a>
        </div>
        <div class="navbar rounded-gray">
            {% for k, v in tabs %}
            <a class="navbar__btn center {% if k == selected %} selected {% endif %}" href="/groupware/{{ k }}">
                {{ v }}
            </a>
            {% endfor %}
        </div>
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
