{% load render_bundle from webpack_loader %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    {% render_bundle 'main' 'css' %}
    <link rel="stylesheet" href="{% static 'styles/groupware/index.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISTEAM 그룹웨어</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <div style="font-size: 0.65em;">
                {% include 'includes/isteam_logo.html' with custom_name='groupware' %}
            </div>
            <div class="groupware__user">
                <div class="groupware__user-name">{{ member_info.last_name }}{{ member_info.first_name }}</div>
                <a class="btn groupware__btn-signout btn__no-color" href="/user/signout">로그아웃</a>
            </div>
        </div>

        <div class="navbar rounded-gray">
            {% for k, v in tabs %}
            <a class="navbar__btn center {% if k == selected %} selected {% endif %}" href="/groupware/{{ k }}">
                {{ v }}
            </a>
            {% endfor %}
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>