{% extends "groupware/layout.html" %}

{% block head %}
<title>ISTEAM 그룹웨어 | 회원명단</title>
{% endblock %}

{% block content %}
<div class="groupware__table">
    <table class="table-user">
        <thead>
            <tr>
                <td>#</td>
                <td>학번</td>
                <td>이름</td>
                <td>별명</td>
            </tr>
        </thead>
        <tbody>
            {% for user in page_obj %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ user.student_id }}</td>
                    <td>{{ user.last_name }}{{ user.first_name }}</td>
                    <td>{{ user.username }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'includes/page_navigator.html' %}
{% endblock %}