<!DOCTYPE html>
<html>
<head>
    <title>register</title>
</head>
<body>
    <form method="POST" action=".">
        {% csrf_token %}
        {% for field in form %}
        <div>
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <input type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}" placeholder="{{ field.label }}" name="{{ field.name }}">
        </div>
        {% if field.errors %}
            <span style="color: red">{{ field.errors }}</span>
        {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
</body>
</html>