.recent-activity {
    background-color: rgba(220, 220, 220, 0.4);
}

.recent-activity > * {
    padding-bottom: 0 !important;
}

.main__isteam-intro {
    background-color: white;
}

.main-title {
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.subtitle {
    font-size: 2em;
    padding: 1em 0;
}

.subtitle > p {
    margin: 0;
}

.main-intro {
    background: white;
}

.main__nav-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.main__nav-container__sidemenu {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

.main__nav-container__sidemenu > * {
    margin-right: 10px !important;
}

.main__bottom-container {
    display: flex;
    flex-direction: column;
}

.main__bottom-container > * {
    margin-bottom: 10px;
}

.main__bottom-wrapper {
    max-width: fit-content;
}

.section {
    margin: 0;
}

.section-title {
    margin: 0 0 10px;
    font-size: 0.9em;
    text-align: left;
}

.main__isteam-intro__features {
    text-align: center;
    margin: auto;
    width: 100%;
}

.main__isteam-intro__features > div {
    margin-bottom: 50px;
}

.main__isteam-intro__features__image {
    width: 200px;
    height: 120px;
    object-fit: cover;
}

.main__isteam-intro__features__text {
    font-size: 1.1em;
}

.section-container {
    padding: 25px 17px;
    max-width: 800px;
    margin: auto;
}

.section-title__timeline {
    position: relative;
    margin: 0 auto;
}

.timeline__content-title {
    margin-bottom: 0.5em;
}

.timeline__content-card {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}

.timeline__content-card > * {
    width: 100%;
}

.timeline__content-card__img {
    width: 100%;
    height: auto;
}

.timeline__content-card__text__sessions {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
}

.timeline__content-card__text__sessions > * {
    margin-top: 10px;
    border-radius: 7px;
    padding: 10px;
    background-color: rgba(46, 164, 79, 0.4);
}
