@import url(https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap);
* {
    font-family: sans-serif;
}

.title-logo {
    display: inline-block;
    width: auto;
    height: 1em;
    vertical-align: middle;
}

.title {
    margin: 0 0 0 6px;
    vertical-align: middle;
}

.title-txt > * {
    font-family: 'Lexend Deca', sans-serif;
    color: #5d5d5d;
    text-decoration: none;
    display: inline-block;
    vertical-align: bottom;
}

.custom-subtitle {
    font-family: 'Lexend Deca', sans-serif;
    color: black;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 25px 5px;
}

.right-top-container {
    float: right;
    top: 50%;
}

.user {
    margin: 30px 0 30px 0;
}

.user-name {
    display: inline;
    margin-right: 8px;
}

.signout {
    font-size: 15px;
    display: inline;
    color: Blue;
    text-decoration-line: None;
}

#wrapper {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 300px; height: auto;
    margin-left: -150px;
    margin-top: -80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-box {
    font-size: 14px;
    margin-top: -15px;
    margin-bottom: 15px;
}

.errorlist {
    padding-left: 30px;
    margin: 0;
}

.form {
    margin: 15px;
    border: 1px solid gray;
    width: 260px;
    padding: 20px;
    border-radius: 6px;
}

.category-label {
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.category-input {
    background-color: white;
    height: 30px;
    width: 240px;
    padding-left: 9px;
    padding-right: 9px;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 14px;
    margin-bottom: 20px;
}

.category-input:focus {
    background-color: #E8F0FE;
}

.submit {
    align-items: center;
}

.submit button {
    width: 100%;
    height: 30px;
    border: 1px solid green;
    border-radius: 6px;
    background-color: #2EA44F;
    color: white;
    font-weight: bold;
}

.signup-link {
    height: 40px;
    width: 100%;
    text-align: center;
    border: 1px solid gray;
    border-radius: 6px;
    padding-top: 13px;
}

.signup-link a {
    font-size: 14px;
    vertical-align: middle;
    text-decoration: none;
    color: #0366D6;
}
.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.navbar__btn {
    flex: 100%;
    display: block;
    padding: 10px 0;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.center {
    width: 100%;
    text-align: center;
}

.rounded-gray {
    margin: 10px 0;
    background-color: #E9E9E9;
    border-radius: 10px;
}

.selected {
    box-shadow: 0 0 10px #9B9B9B;
    background-color: white;
}
.table-user {
    width: 100%;
    border: 1px solid #dee2e6;
    border-collapse: collapse;
    text-align: left;
}

.table-user thead {
    font-weight: bold;
    text-align: center;
}

.table-user tr {
    border: 1px solid #dee2e6;
}

.table-user td {
    padding: 12px;
    border: 1px solid #dee2e6;
}
.timeline {
    position: relative;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 10px;
    margin-left: -3px;
}

.timeline__content-container {
    position: relative;
    padding-left: 25px;
}

.timeline__content-container::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: black;
    left: 0px;
    top: 0px;
    z-index: 1;
    border-radius: 50%;
}

.timeline__content-card {
    display: flex;
}

.timeline__content-card > * {
    width: 100%;
}

.timeline__content-card__title {
    margin: 10px 20px 20px;
    font-size: 2em;
}

.timeline__content-card__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.timeline__content-card__text__summary {
    font-size: 1.5em;
}
