.user__btn-primary {
    background-color: rgba(46, 164, 79, 0.2);
    width: 100%;
    border: none;
    color: #094E1C !important;
}

.user__btn-primary:hover {
    background-color: rgba(46, 164, 79, 0.4);
    width: 100%;
    border: none;
    color: #094E1C !important;
    cursor: pointer;
}

.user__box {
    margin: auto;
    max-width: 400px;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
}