.table-user {
    width: 100%;
    border: 1px solid #dee2e6;
    border-collapse: collapse;
    text-align: left;
}

.table-user thead {
    font-weight: bold;
    text-align: center;
}

.table-user tr {
    border: 1px solid #dee2e6;
}

.table-user td {
    padding: 12px;
    border: 1px solid #dee2e6;
}