.timeline {
    position: relative;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 10px;
    margin-left: -3px;
}

.timeline__content-container {
    position: relative;
    padding-left: 25px;
}

.timeline__content-container::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: black;
    left: 0px;
    top: 0px;
    z-index: 1;
    border-radius: 50%;
}

.timeline__content-card {
    display: flex;
}

.timeline__content-card > * {
    width: 100%;
}

.timeline__content-card__title {
    margin: 10px 20px 20px;
    font-size: 2em;
}

.timeline__content-card__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.timeline__content-card__text__summary {
    font-size: 1.5em;
}