{% load render_bundle from webpack_loader %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    {% render_bundle 'main' 'css' %}
    <link rel="icon" href="{% static 'logos/isteam.svg' %}" sizes="any" type="image/svg+xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="body-container">
        {% block body %}
        {% endblock %}
        <footer class="footer">
            <div class="footer-body">
                <div class="section-container">
                    <img src="{% static 'logos/isteam_soongsil.png' %}" alt="d2.jpg" class="footer__image">
                    <div>&copy; ISTEAM, Soongsil University, Seoul</div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>