.btn {
    padding: 9px;
    background-color: rgba(220, 220, 220, 0.4);
    border-radius: 5px;
    color: rgb(42, 103, 139);
    text-decoration: none;
    font-size: 0.9em;
}

.btn > * {
    line-height: 14px !important;
    text-align: middle !important;
}
 
.btn__no-color {
    background: none !important;
    border: none;
    font-size: 1em !important;
}

.btn__left {
    text-align: left !important;
    padding-left: 0 !important;
}

.btn__disabled {
    pointer-events: none;
    cursor: default;
    color: gray;
}

.btn:hover {
    background-color: rgba(220, 220, 220, 0.8);
}