@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
    font-family: sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.title-logo {
    display: inline-block;
    width: auto;
    height: 1em;
    vertical-align: middle;
    margin-bottom: 3px;
}

.title {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.text-left {
    text-align: left;
}

.title-txt > * {
    font-family: 'Lexend Deca', sans-serif;
    color: #5d5d5d;
    text-decoration: none;
    display: inline-block;
    vertical-align: bottom;
    font-weight: 400;
}

.custom-subtitle {
    font-family: 'Lexend Deca', sans-serif;
    color: black;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 25px 17px;
}

.right-top-container {
    float: right;
    top: 50%;
}

.text-block {
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .mobile-hide {
        display: none !important;
    }
}

@media only screen and (min-width: 600px) {
    .desktop-hide {
        display: none !important;
    }
}