.error-box {
    margin-top: -15px;
    margin-bottom: 15px;
}

.errorlist {
    padding-left: 30px;
    margin: 0;
}

.form {
    margin-top: 1.5em;
}

.form__label {
    display: block;
    width: 100%;
    font-weight: bold;
    text-align: left;
    padding-bottom: 0.4em;
}

.form__text {
    padding: 9px;
    background-color: rgba(220, 220, 220, 0.4);
    border-radius: 5px;
    color: black;
    border: none;
    width: 100%;
    box-sizing: border-box;
}

.form__input {
    margin: 10px;
}

.form__submit {
    margin: 1.7em 0;
    width: 100%;
}