@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
    font-family: sans-serif;
}

.recent-activity {
    background-color: #EEEEEE;
}

.main-title {
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.subtitle {
    font-size: 2em;
    padding: 1em 0;
}

.subtitle > p {
    margin: 0;
}

.main-intro {
    background: white;
}

.subtitle-word {
    display: inline-block;
}

.right-top-container {
    float: right;
}

.right-top-container > * {
    display: inline-block;
    padding: 10px;
}

.title-logo {
    display: inline-block;
    width: 0.8em;
    height: auto;
}

.title-txt {
    font-family: 'Lexend Deca', sans-serif;
    margin: 0 0 0 6px;
}

.title-txt > * {
    vertical-align: -3px;
}

.section {
    margin: 10px 0 0 0;
}

.section-title {
    margin: 0 0 10px;
}

.section-container {
    padding: 25px 5px;
    max-width: 800px;
    margin: auto;
}

.section-title__timeline {
    position: relative;
    margin: 0 auto;
}

.section-title__timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 10px;
    margin-left: -3px;
}

.timeline__content-container {
    position: relative;
    padding-left: 25px;
}

.timeline__content-container::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: black;
    left: 0px;
    top: 0px;
    z-index: 1;
    border-radius: 50%;
}

.timeline__content-title {
    margin-bottom: 0.5em;
}

.timeline__content-card {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}

.timeline__content-card > * {
    width: 100%;
}

.timeline__content-card__title {
    margin: 10px 20px 20px;
    font-size: 2em;
}

.timeline__content-card__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.timeline__content-card__text__summary {
    font-size: 1.5em;
}